<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- VIDEO PLAYER CUSTOM -->
  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
  <link href="/css/video.css" rel="stylesheet">
</head>
<body>
  <div class="stream__custom__player d-none">
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="<%= imageExtra %>"
    data-setup="{}"
  >
    <source id="video__player__custom" src="<%= videoSrc.data[2].file %>" type="video/mp4" />

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
  </div>
  <!-- VIDEO PLAYER CUSTOM -->
  <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>

  <script>
      async function getExtendVideo(id) {
        let response = await fetch(`/videoExtend/${id}`);
        let res = await response.json();
        // $('#stream__media').attr('src', res.data[2].file);
        // console.log(res.data[2].file);
        console.log(res.videoSrc.data[2].file);
        // player.load();
        // player.play();
        // $('#video__player__custom').attr('src', res.data[2].file);
        // $('#my-video_html5_api').load();
        // $('#my-video_html5_api').play();
      }
      getExtendVideo('<%= id %>');
  </script>
</body>
</html>