:root {
  --bg-light: rgb(248, 248, 248);
  --bg-dark: rgb(16, 29, 71);
  --color-bg-navbar: #1e2b3b;
  --color-text-navbar: rgb(250, 248, 248);
  --height-navbar: 46px;
}

body {
  margin: 0;
  background: var(--color-bg-navbar);
}

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--color-bg-navbar);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
  flex-direction: row;
  height: var(--height-navbar);
  border-bottom: 2px solid rgb(53, 101, 141);
  box-shadow: 1px 2px 3px 1px #213955;
  z-index: 2;
}

.menu__bars {
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.menu__bars svg {
  fill: var(--color-text-navbar);
}

.title__logo__navbar {
  font-size: 26px;
  text-decoration: none;
  color: var(--color-text-navbar);
}

.title__logo__navbar:hover {
  opacity: 0.8;
}

.search__icon {
  width: 16px;
  display: flex;
  align-items: center;
  color: var(--color-text-navbar);
  max-height: 100%;
  padding: 10px;
  background-color: #284e7c;
  cursor: pointer;
}

.search__icon:hover {
  background-color: #1e416b;
}

.search__icon svg {
  fill: var(--color-text-navbar);
}
.form__search {
  display: flex;
  align-items: center;
  margin-left: calc(100% - 520px);
}

.input__search {
  padding: 10px 7px;
  width: 200px;
  background-color: #222222;
  outline: none;
  border: none;
  border-bottom: 1px solid #d1d0d0;
  color: whitesmoke;
  max-width: calc(100% - 50px);
}

.input__search::placeholder {
  color: rgb(170, 168, 168);
}

.input__search:focus {
  border-bottom: 1px solid #9cc9ff;
}

.sidebar {
  top: calc(var(--height-navbar) + 13px);
  position: fixed;
  max-width: 350px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - calc(var(--height-navbar) + 13px) - 22px);
  z-index: 2;
}

.genres__extend__button {
  cursor: pointer;
}

.content__bar__menu {
  display: flex;
  align-items: center;
}

.sidebar__content {
  padding: 10px;
  background-color: var(--color-bg-navbar);
  width: 250px;
  height: 100vh;
  border-right: 2px solid rgb(53, 101, 141);
  box-shadow: 1px 2px 3px 1px #213955;
  border-top: 1px solid rgba(197, 196, 196, 0.2);
}

.sidebar .indicator__navegation {
  color: #acbdd3;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #9cc9ff;
  margin-bottom: 10px;
}

.list__menu__options {
  display: flex;
  flex-direction: column;
}

.list__menu__options a {
  text-decoration: none;
  color: rgb(212, 211, 211);
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.list__menu__options a:hover {
  background-color: rgb(55, 68, 107);
  color: white;
}

.option__active {
  background-color: rgb(55, 68, 107);
  color: white !important;
}

.list__menu__options a i {
  padding-left: 10px;
  padding-right: 15px;
}

.multiple__options {
  float: right;
  position: absolute;
  right: 20px;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

body {
  /* height: 10000px; */
}

.sidebar::-webkit-scrollbar,
.description__video::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

.options__stream::-webkit-scrollbar,
.seasons__stream::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
.sidebar::-webkit-scrollbar-track,
.description__video::-webkit-scrollbar-track,
.options__stream::-webkit-scrollbar-track,
.seasons__stream::-webkit-scrollbar-track {
  background-color: #bbb7b7;
}
.sidebar::-webkit-scrollbar-track-piece,
.description__video::-webkit-scrollbar-track-piece,
.options__stream::-webkit-scrollbar-track-piece,
.seasons__stream::-webkit-scrollbar-track-piece {
  background-color: #000;
}
.sidebar::-webkit-scrollbar-thumb,
.description__video::-webkit-scrollbar-thumb,
.options__stream::-webkit-scrollbar-thumb,
.seasons__stream::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgb(214, 212, 212);
  border-radius: 3px;
}
.sidebar::-webkit-scrollbar-corner,
.description__video::-webkit-scrollbar-corner,
.options__stream::-webkit-scrollbar-corner,
.seasons__stream::-webkit-scrollbar-corner {
  background-color: #646464;
}
.sidebar::-webkit-resizer,
.description__video::-webkit-resizer,
.options__stream::-webkit-scrollbar-thumb,
.seasons__stream::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.d-none {
  display: none !important;
}

.container {
  margin-top: calc(var(--height-navbar) + 20px);
  margin-left: 274px;
  position: relative;
  background-color: #1e2b3b;
  padding: 20px;
}

.carousel {
  padding: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: center;
  background: none;
  color: var(--light);
  opacity: 80%;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.carousel__anterior {
  left: -40px;
  z-index: 2;
  background-color: var(--color-bg-navbar);
  color: whitesmoke;
}

.carousel__siguiente {
  right: -40px;
  z-index: 2;
  background-color: var(--color-bg-navbar);
  color: whitesmoke;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 1;
  border: none;
  outline: none;
}

.carousel__anterior:focus,
.carousel__siguiente:focus {
  opacity: 1;
  border: none;
  outline: none;
}

.carousel__lista {
  overflow: auto;
}

.carousel__lista .carousel__elemento {
  padding-bottom: 15px;
}

.carousel__elemento {
  padding-bottom: 5px;
}

.carousel__elemento:hover {
  opacity: 0.9;
  background: #132c4d;
}

.carousel__elemento img:not(.img__loading) {
  width: 154px;
  height: 231px;
}

.carousel__elemento {
  margin: 10px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-bg-navbar);
  box-shadow: 8px 8px 1px 1px #0b1b30;
  color: whitesmoke;
  width: 154px;
  height: 315px;
  /* height: auto;
  padding-bottom: 10px; */
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: var(--color-text-navbar);
  opacity: 0.2;
  border-radius: 0;
}

.carousel__elemento .title-video {
  text-align: center;
  color: var(--color-text-navbar);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 2px;
  padding-right: 9px;
  padding-left: 9px;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
  background: rgb(218, 218, 218);
}

.title_popular_videos {
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  /* margin-left: 50px; */
  font-weight: 500;
  color: var(--color-text-navbar);
  text-align: center;
}

.content_img_videos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.content_last_videos .carousel__elemento {
  position: relative;
}

.type__video__indicator__peli {
  background: red;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 18px;
  z-index: 1;
  line-height: 1.5em;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.type__video__indicator__serie {
  background: blue;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 18px;
  z-index: 1;
  line-height: 1.5em;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.select__options__show a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(1, 108, 231);
  color: var(--color-text-navbar);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.select__options__show a:hover {
  opacity: 0.8;
}

.select__options__show {
  padding: 20px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.select__options__show a {
  margin-bottom: 20px;
}

.select__options__show a {
  margin-right: 1em;
}

.select__options__show a:last-child {
  margin-right: 0;
}

/* a img:hover {
  transform: scale(1.2) !important;
  position: relative;
} */

.title_videos_last {
  /* margin-left: 20px; */
  padding-top: 20px;
  color: whitesmoke;
  text-align: center;
}

.extend-block-left {
  margin-left: 0px;
}

.block__container__sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
  background: var(--color-bg-navbar);
  top: calc(var(--height-navbar) + 13px);
}

.rating i {
  color: yellow;
}

.rating label {
  color: rgb(90 204 156);
}

.tab {
  overflow: hidden;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  background-color: transparent;
  margin: 0 !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #04a1f4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1c2836;
  border-bottom: 6px solid #04a1f4;
  color: var(--color-text-navbar) !important;
}

.btnMoreVideos {
  background-color: rgb(66, 103, 223);
  font-weight: 550;
  padding: 13px 25px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  font-weight: 300;
  border-radius: 2px;
  border: none;
  outline: none;
  text-align: center;
}

.more__videos__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .prev {
  margin-left: -10px;
}
.pagination {
  text-align: center;
  margin-left: -40px;
}
.pagination .fas {
  font-size: 12px;
  margin-top: -4px;
}
.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 50px;
  /* background-color: var(--light); */
}
.pagination li a {
  color: rgb(214, 212, 212);
  display: inline-block;
  font-size: 1.4rem;
  padding: 10px 20px;
  line-height: 30px;
  text-decoration: none;
}
.pagination li.active a {
  color: var(--color-text-navbar);
}
.pagination li a:hover {
  background-color: rgb(21, 132, 236);
}
.pagination li a:focus,
.pagination li a:active {
  background-color: rgb(24, 86, 145);
}
.pagination li.active {
  background-color: rgb(21, 132, 236);
}
.pagination li.disabled a {
  cursor: default;
  color: #999;
}
.pagination li i {
  font-size: 2rem;
}
.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

.container .preview_video {
  color: whitesmoke;
}

.title__original {
  color: whitesmoke;
}

.card__preview {
  display: flex;
  width: calc(100% - 40px);
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card__video {
  color: var(--color-text-navbar);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  /* padding: 20px; */
  line-height: 25px;
}

.img__video__stream {
  padding: 10px;
  width: calc(33% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__info {
  /* padding: 10px; */
  width: calc(33% - 20px);
  /* min-width: 300px; */
}

.info__extend {
  padding: 10px;
}

.title__video {
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 1px;
}

.description__video {
  max-width: 100%;
  max-height: 80px;
  overflow: auto;
}

.title__indicator__description {
  line-height: 40px;
}

.title__original,
.country__video,
.release__date__video {
  line-height: 40px;
}

.country__video,
.release__date__video {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}
.country__video .indicator {
  margin-right: 1em;
}

.release__date__video .indicator {
  margin-right: 1em;
}

.country__video .indicator,
.release__date__video .indicator,
.title__indicator__description {
  color: hsl(224, 46%, 78%);
}

.info__extend {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* grid-gap: 1em; */
  flex-wrap: wrap;
}

.info__extend .genres__video,
.info__extend .rating__video {
  padding: 1em;
  padding-right: 2em;
  padding-top: 0;
  padding-left: 0;
}
.info__extend .year__date {
  padding: 1em;
  padding-right: 2em;

  padding-top: 0;
  padding-left: 0;
}

.info__extend .movie__trailer {
  margin: 1em;
  margin-left: 0;
  margin-top: 0;
}

.genre__video__unic,
.year__content,
.score__rating {
  color: #29b4ff;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.titles__extra {
  color: #29b4ff;
  text-decoration: none;
  cursor: pointer;
}

.score__rating {
  cursor: auto;
}

.genre__video__unic:hover,
.year__content:hover,
.titles__extra:hover {
  opacity: 0.7;
}

.info__extend .indicator,
.other__titles .indicator {
  color: #7da0ff;
  font-weight: bold;
}

.info__preview__extend {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(33% - 20px);
}

.info__extend {
  margin-top: 1.5em;
}

.movie__trailer {
  background-color: #058fda;
  color: var(--color-text-navbar);
  padding: 8px 13px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__trailer:hover {
  opacity: 0.8;
}

.options__stream {
  display: flex;
  overflow: auto;
  background-color: royalblue;
}

.option__available {
  padding: 20px 15px !important;
  color: var(--color-text-navbar);
  cursor: pointer;
}

.option__available:hover {
  background-color: rgb(63, 89, 168) !important;
}

.action__episode {
  width: 100%;
  background-color: #4c6af3;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-text-navbar);
  cursor: pointer;
}

.action__episode:hover {
  opacity: 0.8;
}

.extend__episode__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.extend__episode__actions a {
  margin-bottom: 0.6em;
}

.extend__episode__actions a:last-child {
  margin-bottom: 0;
}

.stream__video,
.card__comment {
  position: relative;
  padding: 10px;
}

.card__comment {
}

.card__comment div {
  /* padding: 10px; */
}

.indicator__comment {
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: var(--color-text-navbar);
  font-weight: 400;
  border-bottom: 1px solid #a3e2e2;
}

.save__lista__video {
  margin-top: 15px;
  margin-bottom: 2em;
  background: transparent;
  border: 1px solid hsl(224, 46%, 78%);
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  text-transform: uppercase;
  background: 0 0;
  word-spacing: 2px;
  font-family: Nunito, sans-serif;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.lista__added {
  background: hsl(224deg 31% 46%);
}
.lista__added:hover {
  opacity: 1 !important;
  background-color: hsl(224deg 32% 37%);
}

.save__lista__video:hover {
  opacity: 0.8;
}

.description__comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn__send__comment {
  margin-top: 0.6em;
}

.description__subcomment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn__send__subcomment {
  margin-top: 0.6em;
}

.btn__send__comment {
  padding: 8px 10px;
  background-color: rgb(1, 108, 231);
  color: var(--color-text-navbar);
  cursor: pointer;
  border: 1px solid rgba(197, 196, 196, 0.2);
  border-radius: 4px;
  outline: none;
  float: right;
  width: 100px;
  height: 35px;
}

.btn__send__subcomment {
  padding: 8px 10px;
  background-color: rgb(1, 108, 231);
  color: var(--color-text-navbar);
  cursor: pointer;
  border: 1px solid rgba(197, 196, 196, 0.2);
  border-radius: 4px;
  outline: none;
  float: right;
  width: 100px;
  height: 35px;
}

.content__btn__comment {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  margin: 0;
}

.content__btn__subcomment {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  margin: 0;
}

.title__comment {
  color: rgb(227, 237, 252);
}

.btn__send__subcomment:hover {
  opacity: 0.8;
}

.btn__send__comment:hover {
  opacity: 0.8;
}

.input__comment {
  padding: 8px 10px;
  width: calc(100% - 20px);
  resize: none;
  height: 50px;
  outline: none;
  border-radius: 4px;
  background-color: #263746;
  color: whitesmoke;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 16px;
  /* max-width: 400px; */
}

.input__subcomment {
  padding: 8px 10px;
  width: calc(100% - 20px);
  resize: none;
  height: 50px;
  outline: none;
  border-radius: 4px;
  background-color: #263746;
  color: whitesmoke;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 16px;
}

.input__subcomment::placeholder {
  color: rgb(180, 179, 179);
}

.input__comment::placeholder {
  color: rgb(180, 179, 179);
}

.nom__user,
.nom__user__destino {
  color: #0097e9;
  font-size: 18px;
  padding-right: 5px;
}

.nom__user__destino {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 120px);
}

.date__comment {
  color: #687a86;
}

.date__subcomment {
  color: #687a86;
}

.separating__info__date {
  color: #8396a3;
  margin-bottom: -5.5px;
  padding: 0;
  padding-right: 5px;
}

.info__user__comment {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 8px; */
  padding-bottom: 8px;
  width: 100%;

  /* gap: 0.3em; */
}

.info__user__subcomment {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 8px; */
  padding-bottom: 8px;
  width: 100%;
}

.error__pass {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #d26464;
  display: none;
}

.invalid__input {
  border: none !important;
  border-bottom: 1px solid #d26464 !important;
}

.UserMenuTop_userMenuTop__3nKoR {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: #424f52;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 25px;
}

.UserMenuTop_userMenuTop__3nKoR .img__user {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: #424f52; */
}

.UserMenuTop_userMenuTop__3nKoR:hover {
  transform: scale(1.2);
}
.UserMenuTop_userMenuTop__3nKoR > svg {
  position: relative;
  top: -0.5px;
  width: 22px;
  fill: hsla(0, 0%, 100%, 0.4);
}

.title__modal__login {
  color: var(--color-text-navbar);
}

.title__login {
  color: whitesmoke;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #bdbdbd;
}

.forgot span {
  color: #9c9c9c;
}

.forgot.register-footer,
.forgot.login-footer {
  width: 100%;
  text-align: center;
}

.forgot a {
  text-decoration: none;
  color: #3b9df3;
}

.forgot {
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.social__options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__options .fb__login {
  margin-left: 2em;
}

.social__options a {
  text-decoration: none;
  cursor: pointer;
}

.social__options a:hover {
  opacity: 0.8;
}

.success__alert {
  background-color: rgb(79, 148, 79);
  color: whitesmoke;
  padding: 13px 13px;
  /* position: fixed;
  bottom: 15px;
  right: 15px; */
  /* z-index: 4; */
  margin-top: 0px;
  margin-bottom: 15px;
  width: calc(100% - 20px);
  display: none;
}

.success__alert__login {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: rgb(79, 148, 79);
  color: whitesmoke;
  padding: 13px 13px;
  display: none;
  z-index: 4;
}

.started__login {
  background: rgb(20, 70, 20) !important;
}

.google__login {
  background-color: #f74933;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: whitesmoke;
}

.fb__login {
  background-color: #455ca8;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: whitesmoke;
}

.division__or {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  flex-direction: row;
}

.or__login {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;

  width: 33%;
}

.division__or .line {
  border-top: 1px solid #8a8a8a;

  width: 33%;
}

.division__or .line.l {
  left: 0;
}

.form__login input,
.form__login__register input {
  background: #182433;
  border: 1px solid #343e4a;
  padding: 12px 12px;
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
  outline: none;
}

.form__login input::placeholder,
.form__login__register input::placeholder {
  color: #9a9a9c;
}

.form__login input:focus,
.form__login__register input:focus {
  border: 1px solid #2684ff;
}

.form__login input:focus {
}

.login__enter {
  background-color: #217bf0;
  color: white;
  width: calc(100% + 10px);
  text-transform: uppercase;
  outline: none;
  padding: 13px 50px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__info__user {
  position: fixed;
  right: 35px;
  top: 55px;
  z-index: 5;
  background-color: #233342;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: none;
  flex-direction: column;
  color: white;
  width: 140px;
  border: 1px solid rgba(197, 196, 196, 0.2);
  text-decoration: none;

  /* padding-top: 15px;
  padding-bottom: 15px; */
}

.my__list__watch {
  text-decoration: none !important;
  color: white;
}

.option__info {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;

  /* border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
  cursor: pointer;
}

.option__info:hover {
  background-color: #304558;
  /* opacity: 0.7; */
}

#snackbar {
  visibility: hidden;
  background-color: #914343;
  color: rgb(236, 236, 236);
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 17px;
  padding: 10px;
  z-index: 6;
  max-width: calc(100% - 40px);
  width: 400px;
  cursor: auto;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.nom__user {
}

.comment__content,
.title__comment,
.input__comment,
.btn__send__comment,
.user__comment,
.btn__send__subcomment,
.user__subcomment {
  padding: 10px;
}

.user__comment {
  /* background-color: #28384d; */
}

.img__user__comment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #424f52 !important;
}

.img__user__subcomment img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #424f52 !important;
}

.comment__content__user {
  display: flex;
  /* background-color: #28384d; */
  align-items: center;
  padding-left: 10px;
}

.subcomment__content__user {
  display: flex;
  /* background-color: #28384d; */
  align-items: center;
  /* margin-left: 50px; */

  padding-left: 10px;
}

.subcomment__original {
  background-color: #2e3e55;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.comment__total__user {
  margin-top: 15px;
  display: flex;
  background-color: #28384d;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 10px; */
}

.my__comment__content {
  display: flex;
  align-items: center;
}

.more__comments {
  padding: 10px;
  color: #cccccc;
  text-align: center;
  margin-top: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.more__comments:hover {
  /* background-color: #263e5c; */
  color: whitesmoke;
}

.not__found__subcomments {
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(184, 184, 184);
  cursor: pointer;
}

.not__found__subcomments:hover {
  color: whitesmoke;
}

.destino__comment {
  color: #0097e9;
}

.not__found__comments {
  margin-top: 20px;
  background-color: #e0ba5c;
  width: calc(100% - 30px);
  padding: 15px;
  text-align: center;
  color: black;
}

.my__subcomment__content {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-top: 0;
  padding-left: 0;
  margin-left: 50px;
  background-color: #202f42;
  margin-bottom: 10px;
  margin-right: 10px;
  display: none;
}

.indicator__response__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  background-color: #202f42;
  margin-right: 10px;
  color: rgb(201, 201, 201);
  padding: 15px;
  display: none;
}

.nom__user__destino {
  margin-left: 0.4em;
}

.my__foto__comment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.my__foto__subcomment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content__my__foto {
  background-color: #424f52 !important;
  border-radius: 50%;
  margin-top: -60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.my__img__subcomment {
  background-color: #424f52 !important;
  border-radius: 50%;
  margin-top: -60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.title__comment {
  padding-left: 0;
  padding-right: 0;
  margin-left: 65px;
}

.content__comment__user {
  color: var(--color-text-navbar);
}

.content__subcomment__user {
  color: var(--color-text-navbar);
}

.comment__total__user {
}

.actions__comment {
  display: flex;
  flex-direction: row;
  color: #b6b6b6;
  margin-left: 55px;
  margin-bottom: 5px;
}

.actions__subcomment {
  display: flex;
  flex-direction: row;
  color: #b6b6b6;
  margin-left: 55px;
  margin-bottom: 5px;
}

.dislike__action,
.dislike__action__sub {
  padding: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.dislike__action i,
.dislike__action__sub i,
.dislike__video i {
  transform: rotateY(180deg);
}
.active__reply {
  color: #0097e9;
}

.active__reply:hover {
  color: #0097e9 !important;
}

.card__reactions__video,
.card__share__video {
  display: flex;

  color: rgb(184, 184, 184);
  flex-direction: column;
  width: calc(100% - 20px);
  /* border-top: 1px solid #5b6975; */
  border-bottom: 1px solid #5b6975;
  /* padding-top: 5px; */
  padding-bottom: 5px;
  margin-left: 10px;
}

.card__share__video {
  margin-top: 10px;
  border: none;
}

.reactions__video {
  display: flex;
  color: rgb(184, 184, 184);
  align-items: center;
  width: calc(100%);
}

.title__indicator__reactions,
.title__indicator__share {
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: var(--color-text-navbar);
  font-weight: 400;
  border-bottom: 1px solid #a3e2e2;
}

.like__video {
  margin-left: 10px;
}

.like__video,
.dislike__video {
  margin-top: 15px;
  cursor: pointer;
  padding: 10px;
  display: flex;
}

.dislike__video {
  margin-left: 1em;
}

.like__video i,
.dislike__video i {
  margin-right: 5px;
}

.dislike__video i {
  margin-top: 2.5px;
}

.calc__number__dislikes,
.calc__number__likes {
  margin-left: 5px;
}

.like__video:hover,
.dislike__video:hover {
  background-color: #18222b;
  color: whitesmoke;
}

.calc__number__likes,
.calc__number__dislikes {
  display: flex;
}

.reply__action {
  margin-top: -2px;
  padding: 5px;
  cursor: pointer;
}

.like__action,
.like__action__sub {
  padding: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.number__likes__comment,
.number__likes__subcomment,
.number__dislikes__comment,
.number__dislikes__subcomment {
  margin-left: 0.3em;
}

.dislike__action:hover,
.like__action:hover,
.reply__action:hover,
.like__action__sub:hover,
.dislike__action__sub:hover {
  color: whitesmoke;
}

.preloading__stream,
.preloading__stream__trailer {
  position: absolute;
  left: calc(50% - 20px);
  top: 51%;
  margin: auto;
  z-index: 4;
}

.play__stream__plusto {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 28px;

  padding-right: 0px;
  padding-left: 0px;
  max-width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__plusto {
  color: var(--color-text-navbar);
  text-align: center;
  background-color: #0b1a2c;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.content__plusto:hover {
  /* opacity: 0.7; */
}

.preloading__stream .la-ball-clip-rotate.la-sm > div,
.preloading__stream__trailer .la-ball-clip-rotate.la-sm > div {
  width: 46px;
  height: 46px;
  border-width: 2px;
}

.preloading__items__video .la-ball-clip-rotate.la-sm > div {
  width: 36px;
  height: 36px;
  border-width: 2px;
  margin-left: -10px;
}

.preloading__items__video {
  padding: 40px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_stream {
  padding-bottom: 105px;
}

.active__stream {
  background-color: rgb(63, 89, 168) !important;
}

.seasons__stream {
  background-color: royalblue;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.seasons__stream button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 15px !important;
  width: auto !important;
  min-width: 140px;
}

.seasons__stream button:hover {
  background-color: #0958b9;
}

.active__temp {
  background-color: #0958b9 !important;
}

.d-flex-show {
  display: flex !important;
}

#modalAddInfo {
  z-index: 6;
}

.title__modal__info {
  color: whitesmoke;
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d0d0;
}

.foto__user {
}

.foto__user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #424f52;
}

.info__content__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__user {
  padding: 10px;
}

.name__user__info {
  color: rgb(182, 182, 182);
  margin-bottom: 5px;
}

.email__user__info {
  color: rgb(148, 148, 148);
  font-weight: lighter;
  font-family: Nunito, sans-serif;
  font-size: 12px;
}

.episodes__content {
  display: none;
  flex-direction: column;
  background-color: #26364b;
  width: 100%;
  height: auto;
  min-height: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* align-items: center; */
  /* justify-content: center; */
}

.episodes__content a {
  margin-bottom: 0.6em;
}

.episodes__content a:last-child {
  margin-bottom: 0;
}

.episode__part {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 96, 255, 0.733);
  padding: 10px;
  color: var(--color-text-navbar);
  max-width: calc(100% - 20px);
  text-decoration: none;
  cursor: pointer;
}

.episode__part:hover {
  background-color: rgb(105, 126, 248);
}

.btn_show_active {
  background-color: rgb(47, 46, 114) !important;
}

.options__year__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* gap: 0.5em; */
}

.options__year__content a {
  border-bottom: 1px solid #466181;
  padding-right: 20px;
  padding-left: 20px;
}

.year__extend__button {
  cursor: pointer;
}

.not__found {
  color: var(--color-text-navbar);
  font-size: 28px;
  font-weight: 400;
  padding: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: calc(100% - 20px); /* Full width */
  height: calc(100% - 20px); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #1e2b3b;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 950px;
  position: relative;
}

#modalLogin .modal-content {
  max-width: 400px;
}

#modalWatchList .modal-content {
  max-width: 400px;
  padding-right: 0;
  padding-left: 0;
  min-height: 280px;
}

#modalWatchList .modal__header {
  color: #c2c2c2;
  font-weight: 550;
  font-size: 15px;
  /* margin-top: 12px; */
  color: #adb7c2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.p-t-0 {
  padding-top: 0 !important;
}

#modalWatchList .modal__header .return__back__list {
  font-size: 16px;
  margin-left: 0;
}

.return__back__list {
  cursor: pointer;
  padding: 10px;
}

#modalWatchList .close {
  margin-left: 10px;
  margin-right: 20px;
}

.m-t-8 {
  margin-top: 8px !important;
}

#modalWatchList svg {
  height: 20px;
  fill: #929ea7;
  position: relative;
  left: -5px;
  top: -1px;
}

#modalWatchList .modal__body {
  color: #d8d8d8;
  font-weight: lighter;
}

.form__list__watch {
  margin: 20px;
  margin-top: 0;
}

.name__list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 15px;
}

.name__list input {
  padding: 8px 10px;
  background-color: #182433;
  color: whitesmoke;
  border: 1px solid #343e4a;
  outline: none;
}

.name__list input::placeholder {
  color: #9a9a9c;
}

.name__list label {
  color: #8f9397;
}

.desc__list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 25px;
}

.desc__list textarea {
  padding: 8px 10px;
  background-color: #182433;
  border: 1px solid #343e4a;
  color: whitesmoke;
  outline: none;
  resize: none;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 16px;
  height: 60px;
}

.desc__list textarea:focus,
.name__list input:focus {
  border: 1px solid #2684ff;
}

.desc__list textarea::placeholder {
  color: #9a9a9c;
}

.desc__list label {
  color: #8f9397;
}

.btnCreateList {
  width: 100%;
  background-color: #2684ff;
  color: whitesmoke;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.add__new__list {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(197, 196, 196, 0.2);
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list__watch {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add__new__list:hover,
.list__watch:hover {
  background-color: #1d2938;
  color: whitesmoke;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(223, 219, 219);
  text-decoration: none;
  cursor: pointer;
}

.title__modal__trailer {
  font-size: 24px;
  color: var(--color-text-navbar);
}

#player__trailer {
  height: calc(100vh - 300px);
}

.ov__hidden {
  overflow: hidden;
}

.share__options__video {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.content__info__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.msg__info__element {
  visibility: hidden;
  position: fixed;
  bottom: 25px;
  background-color: #383838;
  color: rgb(236, 236, 236);
  font-size: 17px;
  padding: 12px;
  max-width: calc(100% - 40px);
  border-radius: 15px;
  width: auto;
  cursor: auto;
  z-index: 7;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.show_info_element {
  visibility: visible !important;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 548px) {
  .form__search {
    margin-left: calc(100% - 490px);
  }
  .UserMenuTop_userMenuTop__3nKoR {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 512px) {
  /* .select__options__show a:nth-child(2) {
    margin-right: 0;
  } */
}

@media only screen and (max-width: 689px) {
  .container_stream {
    margin-left: 272px;
  }
}

@media only screen and (max-width: 970px) {
  .img__video__stream,
  .info__preview__extend,
  .card__info {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    margin-left: 0px;
  }
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 622px) {
  .form__search {
    /* max-width: calc(100vw - 100px);
    margin-left: 10px; */
  }
  .container {
    margin-left: 0px;
  }
  .sidebar {
    display: none;
  }
  .card__video {
    flex-wrap: wrap;
  }
  .modal {
    padding-left: 0;
    padding-right: 0;
    width: calc(100%);
  }
  .title__modal__trailer {
    font-size: 20px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  /* .carousel__elemento {
    height: auto !important;
    min-height: 100% !important;
    padding-bottom: 20px;
  }
  .carousel__elemento .title-video {
    height: auto !important;
    max-height: auto !important;
    text-overflow: initial !important;
    white-space: initial !important;
  } */
}
@media only screen and (max-width: 500px) {
  .input__search {
  }
  .form__search {
    margin-left: 10px;
    max-width: calc(100% - 250px);
  }
}
@media only screen and (max-width: 468px) {
  .form__search {
    /* width: 100% !important; */
    position: absolute;
    right: 80px;
    top: 13px;
    min-width: calc(100% - 180px);
  }
  .UserMenuTop_userMenuTop__3nKoR {
    position: absolute;
    right: 40px;
    top: 15px;
  }
  .title__logo__navbar {
  }
}

@media only screen and (max-width: 456px) {
  .pagination li a {
    padding: 8px 13px;
    line-height: 20px;
  }
  .pagination li {
    height: 35px;
  }
}
/* 
@media only screen and (max-width: 1413px) {
  .carousel__lista .carousel__elemento,
  .carousel__elemento {
    width: 220px !important;
    height: 300px !important;
  }
  .carousel__elemento img {
    width: 100% !important;
    height: 400px !important;
  }
} */
